* {
  box-sizing: border-box;
}

.section {
  background-color: aquamarine;
  padding: 1rem;
  border: 1px solid #000;
}

.container {
  background-color: antiquewhite;
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.children {
  border: 1px solid rgb(255, 0, 0);
  padding: 1rem;
}

.flex {
  display: flex;
}
