* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

.container {
  max-width: auto;
  margin-inline: auto;
  background-color: #fff;
}

.nevigation {
  background-color: black;
  color: #fff;
  font-size: x-large;
  padding-inline: 3.75rem;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.nevigation > .navigation__menu-group {
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.navigation__menu-group.avigation__menu-group-right {
  gap: 1.25rem;
}

.nevigation__logo {
  width: 3.75rem;
  height: 1.75rem;
  color: blue;
}

.navigation__logo {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

.navigation__submit {
  background-color: rgb(29, 29, 29);
  padding: 0.625rem;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #fff;
  border-width: 0.5px;
}

.navigation__sign {
  background-color: #4c5fd5;
  padding: 0.625rem;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #4c5fd5;
  border-width: 0.5px;
}

.main {
  background-color: #dadbf1;
  padding-block: 100px;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search {
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  padding: 10px;
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  box-shadow: 0px 0px 7px #989898;
}

.boxes {
  row-gap: .625rem;
}
.rookie {
  padding-inline: 2.5rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  gap: 0.625rem;
  margin: 40px;
  padding: 20px;
  
 
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.smallbody {
  padding-top: 0.625rem;
  color: #4c5fd5;
}

.section__image {
  width: 35px;
  
  height: 50px;
  background-color: #4c5fd5;
  margin-right: 7px;
  border-radius: 0.3125rem;
}

.footer {
  background-color: black;
  color: #fff;
  padding-block-start: 20px;
  padding-block-end: 100px;
  
}

.line {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.final {
  padding: 3.75rem
  background-color: chocolate;
}

.sub {
  font-weight: bold;
}

.footer > .final {
  list-style: none;
  display: flex;
  gap: 0.625rem;
}

.line__down {
  align-content: flex-end;
  font-weight: lighter;
  margin-right: 1.875rem;
  
}
