* {
  box-sizing: border-box;
  
}

<element class = .card

.card .card--color-blue {
  background-color: oklch(98% 0.025 200);
}

.card {
  max-width: 25rem;
  background-color: oklch(98% 0.025 90);
  border-radius: 0.75rem;
  overflow-x: hidden;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
  /*padding: 1rem;*/
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap')

 .img {
  display: block;
  max-width: 100%;
}




.card__img {
  width: 100%;
}

.card__top {

 /*margin: 1rem;*/
 padding-inline: 1rem;
 padding-block: .75rem
}

.card__bottom {
  padding: 16px;
}

.card__P {
  margin-top: 16px;
}

.card__title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}
 
.card__subtitle {
  font-size: .875rem;
  margin-top: .25rem;
  line-height: 24px;

}
.card__bottom .card__title {
  font-weight: 400;
}

.card__bottom .card__subtitle {
  margin-top: 0;
}

/*
.card {
  overflow-y: hidden;
  color: oklch(30% 0.01 60deg);

  &__top {
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }

  &__bottom {
    padding-block: 1rem;
    padding-inline: 1rem;
  }

  &__title {
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.0094rem;
  }

  &__subtitle {
    margin-top: 0.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0156rem;
  }

  &__p {
    margin-top: 2rem;
    color: oklch(50% 0.01 60deg);
  }
}

.card__top .card__title {
}

.card__top .card__subtitle {
}

.card__bottom .card__title {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.0313rem;
}

.card__bottom .card__subtitle {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.25rem;
  color: oklch(50% 0.01 60deg);
  letter-spacing: 0.0156rem;
} 
